@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Walter+Turncoat&display=swap');

h1 {
    font-family:"Walter Turncoat";
    margin: 20px 0 0 20px;
}

body {
    margin:0;
    padding:0;
    background-color: #91BAD6;
}

.navbar{
    height:60px;
    width:100%;
    background-color: #1E3F66;
    margin:0;
    display: flex;
    gap:25px;
    font-size: 15px;
}

.navbar h2{
    color: white;
    margin-right: 10px;
    font-family:"Walter Turncoat";
}
.content{
    height:90%;
    width:100%;
    background-color: #91BAD6;

}

a:hover{
    color:#91BAD6;
}

a{
    color:transparent;
}

.container {
    width:45%;
    position:relative;
    margin:20px auto;
    border:1px solid black;
    padding:20px;
}

.container-wrapper{
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: stretch;
}

h2{
    padding-left:10px;
    font-family:"Coming Soon";
}

p{
    font-family: "Coming Soon";
    padding-left:20px;
    
}